/LCL_2WAY_WEIGHT/
/gradio_cached_examples/
/mllm/demo/result/*
/mllm/demo/result_vqa/*
/mllm/demo/imagenet_result/*
/mllm/demo/*.png
/model_result/*
/training_log/
/training_args/
/rename_full_rearranged/*
/output_full_rearranged.json
/rename_full_rearranged.zip
/ipynbs
/imagenet1k_classify/*
/cls_icl/
/docs/*coco*