#torch
#torchvision

# transformers==4.29.0 Default
# transformers==4.37.2 # llavaのバージョンに合わせた
transformers @ git+https://github.com/huggingface/transformers@cae78c46
datasets
pillow
dataclasses
numpy
nltk
pandas
mmengine
tensorboard
einops
tqdm
matplotlib

accelerate
SentencePiece
# deepspeed
gradio==3.40.1

pycocotools
chardet
cchardet

tensorflow
scikit-learn
keras
jsonlines
